/* Styles for article page */

.Article {
  width: 100%;
  height: 100%;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 4rem 2rem 4rem;
}

.Article section {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.Article section.text {
  width: 55%;
  /* layout */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 3rem;
}

.Article section.text .heading {
  width: 100%;
  /* layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.Article section.text .introduction span.marked {
  background-color: #f5fbb2;
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.Article section.text .introduction span .explanation {
  position: absolute;
  top: 0;
  left: 110%;
  width: 10rem;
  height: 5rem;
  background-color: #111111dd;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* initial valus */
  opacity: 0;
  pointer-events: none;
}
.Article section.text .introduction span .explanation.show {
  opacity: 1;
  pointer-events: all;
}

.Article section.forms {
  width: 45%;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.Article section.forms form {
  width: 90%;
  height: max-content;
  padding: 2rem 1rem;
  box-shadow: 0 0 10px #00000066;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  direction: rtl;
}

section.forms form .question {
  width: 100%;
  /* layout */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

section.forms form .question span {
  margin: 0.4rem 0;
  width: 100%;
  direction: ltr;
}

section.forms form .answer {
  width: 100%;
  /* layout */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

section.forms form .answer h4 {
  margin: 0.6rem 0;
}

section.forms form .answer textarea {
  width: 100%;
  aspect-ratio: 3/1;
  resize: none;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
}

section.forms form .answer ol {
  width: 100%;
  height: max-content;
  /* layout */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1.4rem;
  list-style-type: lower-alpha;
}

section.forms form .answer ol li {
  width: 100%;
  text-align: left;
  direction: ltr;
  border-radius: 0.4rem;
  padding: 0.2rem 0;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
